/* singolo 1 css */

html {
    font-size: 10px;
}

body {
    margin: 0px;
    font-size: 1.8rem;
    font-family: "Lato", "Open Sans", sans-serif;
}

.header>div {
    max-width: 1020px;
    height: 89px;
    margin: auto;
    background-color: #2d303a;
    position: fixed;
    z-index: 2;
}

.dot {
    display: inline;
    color: #e9534b;
}

header {
    margin: auto;
    width: 1020px;
}

.logo {
    font-family: "Lato";
    letter-spacing: -0.5px;
    font-size: 25px;
    line-height: 6px;
    color: #ffffff;
    font-weight: 700;
    margin: 0;
    margin-left: 40px;
}

.header__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    font-size: 1.2rem;
    line-height: 6px;
    font-family: "Lato";
    font-weight: 700;
    display: flex;
    list-style-type: none;
    flex-basis: 100%;
    justify-content: space-between;
    margin-top: 46px;
    width: 371px;
    padding-left: 454px;
    padding-right: 40px;
}

a.nav {
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    line-height: 6px;
    cursor: pointer;
}

.nav.nav_active {
    color: #f06c64;
    cursor: pointer;
}

.nav_active {
    color: #f06c64;
    cursor: pointer;
}

.header__bottom {
    width: 1020px;
    background-color: #323746;
    margin: auto;
    height: 6px;
}

li>p {
    color: #494e62;
    position: relative;
    top: -12px;
}

.nav {
    cursor: pointer;
}

.nav:hover {
    text-decoration: underline;
}

#blue {
    background-color: #648BF0;
}

.item.active {
    margin: auto;
    height: 595px;
    width: 1020px;
}

.image_bordered {
    border: 5px solid #F06C64;
}

.slider>div {
    background-color: transparent;
}

.slider__bottom {
    height: 6px;
    width: 1020px;
    background-color: #ea676b;
    margin: auto;
}

.chevs_back:hover, .chevs_forward:hover {
    transform: scale(1.5, 1.25);
}

.chevs {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    width: 1020px;
    max-height: 27px;
    flex-direction: row;
    position: relative;
    top: -54%;
    background-color: transparent;
    z-index: 0;
}

.chevs_back {
    margin-left: 40px;
}

.chevs_forward {
    margin-right: 40px;
}

.phone.phone_vertical {
    margin-left: 51px;
    margin-bottom: 83px;
    margin-top: 145px;
    position: relative;
    left: 60px;
    z-index: 1;
}

.phone.phone_horizontal {
    position: relative;
    margin-left: 70px;
    margin-bottom: 205px;
    margin-right: 81px;
    left: 60px;
    z-index: 1;
}

.services__text>h2 {
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    font-size: 30px;
    padding-top: 58px;
    margin-left: 40px;
}

.services__text>p {
    letter-spacing: normal;
    color: #767e9e;
    font-size: 18px;
    font-family: Lato;
    font-weight: 300;
    line-height: 30px;
    width: 939px;
    margin-top: 18px;
    margin-left: 41px;
    text-align: justify;
}

.services>div {
    margin: auto;
    width: 1020px;
    background-color: #f2f2f2;
    height: 496px;
}

h2 {
    margin: 0;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 299px [col-start]);
    grid-template-rows: 86px 84px;
    column-gap: 60px;
    row-gap: 67px;
    margin-top: -3px;
}

.custom__design {
    margin-left: 41px;
    margin-top: 32px;
    display: flex;
}

.custom-design__text>h5 {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin-top: -2px;
    margin-left: -1px;
}

.custom-design__text>p {
    width: 219px;
    height: 128px;
    font-size: 12px;
    line-height: 21px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
    margin-top: 10px;
}

.custom-design__text {
    margin-left: 20px;
}

.pen, .lamp {
    width: 110%;
    height: 110%;
}

.lamp, .heart {
    margin-top: 15px;
}

.innovative-ideas {
    display: flex;
}

.innovative-ideas__text>h5 {
    margin: 0;
}

.innovative-ideas__text>p {
    width: 219px;
    height: 128px;
    font-size: 12px;
    line-height: 21px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
    margin-top: 10px;
    letter-spacing: 0.1px;
}

.innovative-ideas__text {
    margin-top: 31px;
    margin-left: 20px;
}

h5 {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin: 0;
}

.love__text>p, .layout__text>p, .support__text>p, .star__text>p {
    width: 219px;
    height: 128px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
}

.layout, .love, .support, .star {
    display: flex;
}

.love {
    margin-left: -38px;
    margin-top: 8px;
    width: 110%;
    height: 110%;
}

.heart {
    justify-self: start;
}

.layout {
    margin-left: 41px;
}

img.screen, img.bubble, img.star {
    margin-top: -17px;
}

.layout__text, .support__text, .love__text, .star__text {
    margin-left: 20px;
}

.layout__text>h5 {
    margin-top: 2px;
}

.layout__text>p {
    margin-top: 10px;
}

.bubble {
    margin-top: -10px;
}

.love__text {
    margin-top: 23px;
}

.star {
    margin-left: -19px;
}

/* singolo 2 css */

html {
    font-size: 10px;
}

body {
    margin: 0px;
    font-size: 1.8rem;
    font-family: "Lato", "Open Sans", sans-serif;
}

.portfolio__text>h1 {
    margin: 0px;
    padding-top: 60px;
    padding-left: 40px;
    font-weight: 900;
    color: #666d89;
    font-size: 3rem;
}

.portfolio__text>p {
    padding-left: 40px;
    font-weight: 300;
    line-height: 30px;
    color: #767e9e;
}

.portfolio>div {
    background-color: #2d303a;
}

.portfolio__text {
    margin-top: 60px;
    margin-left: 39px;
}

.porttfolio__buttons {
    display: flex;
    justify-content: space-evenly;
    flex-basis: content;
    margin-left: 31px;
    margin-top: -7px;
    width: 305px;
}

.about-us>div {
    background-color: #f2f2f2;
}

.bottom__line.portfolio {
    width: 1020px;
    height: 6px;
    background-color: #323746;
}

.bottom__line.about_us {
    width: 1020px;
    height: 6px;
    background-color: #ffffff;
}

section.about-us>div>h2 {
    margin: 0px;
    padding-left: 40px;
    padding-top: 60px;
    color: #666d89;
    font-weight: 900;
    font-size: 3rem;
}

section.portfolio>div>div.portfolio__text {
    margin: 0px;
}

.button_bordered {
    height: 22px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 10px;
    color: #767e9e;
    background-color: transparent;
    border: 1px solid #666d89;
    border-radius: 5px;
    cursor: pointer;
}

.img_hidden {
    display: none;
}

.button_selected {
    height: 22px;
    color: #dedede;
    border: 1px solid #c5c5c5;
    background-color: transparent;
    font-size: 1.2rem;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
}

.layout-4-column {
    margin-left: 40px;
    margin-top: 19px;
    margin-bottom: 47px;
}

.image {
    margin-right: 16px;
    margin-bottom: 16px;
}

.employee {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
}

section.about-us>div>p {
    width: 939px;
    padding-left: 40px;
    color: #767e9e;
    font-size: 1.8rem;
    line-height: 30px;
    font-weight: 300;
    word-spacing: 0.64px;
    text-align: justify;
}

.employee_content {
    width: 300px;
    padding-top: 29px;
}

.employee_content>h5 {
    margin-top: 13px;
    color: #666d89;
    font-size: 1.8rem;
    font-weight: 900;
}

.employee__text {
    margin-top: 12px;
    width: 301px;
    height: 32px;
    color: #767e9e;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 20px;
    text-align: justify;
    word-spacing: -0.5px;
}

.social__icons {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    width: 152px;
    margin-bottom: 67px;
    margin-left: -8px;
}

.icon {
    cursor: pointer;
}

.button:hover {
    text-decoration: underline;
}

/* singolo 3 css */

.wrapper {
    width: 1020px;
    margin: auto;
}

.form>div {
    background-color: #f06c64;
}

.form__text>h1 {
    margin: 0;
    margin-left: 40px;
    padding-top: 60forpx;
    font-family: "Lato";
    font-weight: 900;
    font-size: 3rem;
    color: #f0d8d9;
    padding-top: 60px;
}

.form__text>p {
    width: 939px;
    margin-left: 41px;
    margin-top: 16px;
    color: #f0d8d9;
    line-height: 30px;
    font-weight: 300;
    font-family: "Lato";
    text-align: justify;
}

.layout-2-column {
    display: flex;
    flex-direction: row;
}

.side__text>h5 {
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    font-size: 1.8rem;
}

.side__text>p {
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    line-height: 22px;
    font-size: 1.2rem;
    margin-top: 8px;
    width: 301px;
    text-align: justify;
    word-spacing: -0.5px;
}

.side__text {
    width: 301px;
    margin-left: 20px;
    margin-top: 25px;
}

input {
    background-color: #d6564f;
    width: 619px;
    height: 36px;
    border: none;
    border-radius: 6px;
    margin-left: 40px;
    margin-bottom: 16px;
}

textarea {
    width: 614px;
    height: 202px;
    background-color: #d6564f;
    border-radius: 6px;
    margin-left: 40px;
    border: none;
}

::placeholder {
    font-family: "Lato";
    font-size: 1.2rem;
    font-weight: 400;
    padding-left: 15px;
    color: #f48c8f;
}

form {
    margin-top: 25px;
    width: 659px;
}

textarea::placeholder {
    padding-top: 9px;
    padding-left: 13px;
}

h5 {
    margin: 0;
}

.contacts>p, .contacts>a {
    display: inline;
    color: #f0d8d9;
    font-family: Lato;
    font-weight: 400;
    font-size: 1.2rem;
    padding-left: 12px;
}

.contacts>a {
    text-decoration: none;
    color: #f0d8d9;
}

.contacts {
    margin-top: 22px;
}

img.icon.icon_place {
    padding-left: 4px;
}

img.icon.icon_phone {
    padding-left: 1px;
}

img.icon.icon_email {
    padding-top: 10px;
}

.bottom__line {
    height: 6px;
    background-color: #ea676b;
    margin-top: 32px;
}

.button.button_colored {
    border: none;
    border-radius: 4px;
    margin-left: 41px;
    font-family: "Lato";
    font-size: 1.2rem;
    padding: 4px;
    margin-top: 5px;
    background-color: #f0d8d9;
}

.footer>div {
    margin: auto;
    width: 1020px;
    height: 76px;
    background-color: #2d303a;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer {
    margin: 0;
}

.copyright>p {
    margin: 0;
    color: #666d89;
    font-family: Lato;
    font-size: 1.2rem;
    font-weight: 400;
    padding-left: 42px;
}

.social__links {
    margin-right: 30px;
    display: flex;
    width: 172px;
    justify-content: space-evenly;
    margin-top: 10px;
}

.icon {
    cursor: pointer;
}

input:invalid {
    border: 1px red;
}

input:valid {
    border: 1px green;
}

#message-block {
    position: absolute;
    left: 40%;
    width: 50vh;
    height: 20vh;
    background: transparent;
}

#message-block.hidden {
    display: none;
}

#message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 20vh;
    max-width: 30vh;
    margin: auto;
    text-align: center;
    color: white;
    font-family: 'Lato';
    background-color: #2d303a;
    border-radius: 3%;
}

#close-btn {
    font-family: 'Lato';
    font-size: 1.8rem;
    background-color: #d6564f;
    font-weight: 900;
    border: none;
    margin-bottom: 10px;
    border-radius: 10%;
}

#btn {
    background-color: #d6564f;
    font-weight: 900;
    text-decoration: none;
}

#btn:hover {
    background-color: #c77570;
}

.slider {
    margin: auto;
    width: 1020px;
    height: 585px;
    padding-bottom: 100px;
    background-color: #f06c64;
}

#red {}

.item {
    display: none;
    animation: 0.5s ease-in-out;
}

.item.active, .item.next {
    display: block;
    position: relative;
    margin: 0 auto;
}

.slider>div.wrapper {
    position: relative;
    overflow: hidden;
    height: 585px;
    width: 1020px;
    padding-bottom: 100px;
    margin-bottom: 0;
}

.slider-image {
    position: relative;
    top: 90px;
}

.next {
    position: absolute;
    width: 100%;
}

.control {
    position: absolute;
}

.to-left {
    animation-name: left;
}

.to-right {
    animation-name: right;
    animation-direction: reverse;
}

.from-left {
    animation-name: left;
    animation-direction: reverse;
}

.from-right {
    animation-name: right;
}

@keyframes left {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@keyframes right {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

.slide-phone-screen {
    position: absolute;
    border-radius: 3px;
    background-color: #000000;
    opacity: 0;
    transition: 1.8s;
    z-index: 2;
}

.slide-phone-screen-1 {
    position: relative;
    top: -506px;
    left: 125px;
    width: 189px;
    height: 334px;
}

.slide-phone-screen-2 {
    position: relative;
    top: -768px;
    left: 485px;
    width: 334px;
    height: 188px;
}

.slider .slide-phone {
    position: absolute;
    z-index: 2;
    border-radius: 27px;
    cursor: pointer;
}

@media (min-width: 1020px) {
    .slide-phone-2 {
        height: 216px;
        width: 459px;
        top: 265px;
        left: 425px;
    }
}

@media (min-width: 1020px) {
    .slide-phone-1 {
        width: 216px;
        top: 144px;
        left: 112px;
        height: 459px;
    }
}

.screen-off {
    opacity: 1;
}

@media only screen and (width: 768px) {
    .header>div.wrapper {
        width: 100vw;
        min-height: 95px;
    }
    .header__bottom {
        width: 100vw;
    }
    .nav__list {
        margin-top: 26px;
        width: 398px;
        height: 14px;
        padding-left: 90px;
    }
    .header__text {
        height: 95px;
    }
    .phone.phone_vertical {
        position: absolute;
        width: 180.85px;
        height: 363.74px;
        margin-left: 23px;
    }
    .phone.phone_horizontal {
        position: absolute;
        height: 180.93px;
        width: 364.21px;
        margin-top: 230px;
        left: 240px;
    }
    .slider, .slider>div.wrapper {
        width: 100vw;
        height: 451px;
    }
    .services>div.wrapper {
        height: 610px;
    }
    .services-grid {
        grid-template-columns: repeat(2, 299px [col-start]);
    }
    .services__text>h2 {
        padding-top: 39px;
    }
    .services__text>p {
        width: 687px;
    }
    .love, .support {
        margin-left: 40px;
        margin-top: 0px;
    }
    .star, .layout {
        margin-left: 0px;
    }
    .layout-4-column {
        width: 100vw;
    }
    .about-us>div, .portfolio>div, .services>div, .form>div {
        width: 100vw;
    }
    section.about-us>div>p {
        width: 688px;
    }
    div.employee_content>img {
        width: 85%;
    }
    .employee_content {
        width: 254px;
        padding: -15px;
        display: flex;
        flex-direction: column;
    }
    .employee {
        width: 688px;
        height: 542px;
    }
    .bottom__line.portfolio {
        width: 100vw;
    }
    .form__text>p {
        width: 689px;
        height: 96px;
    }

    .form__text > h2 {
        padding-top: 53px;
    }

    .quote__form {
        width: 689px;
        
    }

    form, input, textarea {
        width: 442px;
    }

    form {
        margin-top: 0px;
    }

    .side__text {
        width: 221px;
        margin-right: -37px;
        margin-top: 0px;
        margin-left: 69px;
    }

    .form {
        height: 631px;
    }

    .side__text> p {
        width: inherit;
    }
    .footer, .footer > div {
        width: 100vw;
    }
}