/* singolo 1 css */


html {
    font-size: 10px;
}

body {
    margin: 0px;
    font-size: 1.8rem;
    font-family: "Lato", "Open Sans", sans-serif;
}

.header > div {
    max-width: 1020px;
    height: 89px;
    margin: auto;
    background-color: #2d303a;
}

.dot {
    display: inline;
    color: #e9534b;
}

header {
    margin: auto;
    width: 1020px;
}

.logo {
    font-family: "Lato";
    letter-spacing: -0.5px;
    font-size: 25px;
    line-height: 6px;
    color: #ffffff;
    font-weight: 700;
    margin: 0;
    margin-left: 40px;

}

.header__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    font-size: 1.2rem;
    line-height: 6px;
    font-family: "Lato";
    font-weight: 700;
    display: flex;
    list-style-type: none;
    flex-basis: 100%;
    justify-content: space-between;
    margin-top: 46px;
    width: 371px;
    padding-left: 454px;
    padding-right: 40px;
}

a.nav {
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    line-height: 6px;
    cursor: pointer;
}

.nav.nav_active {
    color: #f06c64;
    cursor: pointer;
}

.nav_active {
    color: #f06c64;
    cursor: pointer;
}


.header__bottom {
    width: 1020px;
    height: 6px;
    background-color: #323746;
    margin: auto;
}

li > p {
    color: #494e62;
    position: relative;
    top: -12px;
}

.nav {
    cursor: pointer;
}

.nav:hover {
    text-decoration: underline;
}

.slider > div {
    margin: auto;
    background-color: #f06c64;
    height: 595px;
    max-width: 1020px;
}

.slider__bottom {
    height: 6px;
    max-width: 1020px;
    background-color: #ea676b;
    margin: auto;
}

.chevs {
    cursor: pointer;
}

 .chevs.chevs_back {
   margin-left: 42px;
   position: relative;
   top: -258px;
} 

.phone.phone_vertical {
    margin-left: 51px;
    margin-bottom: 83px;
    position: relative;
    top: 52px;
}

.phone.phone_horizontal {
    position: relative;
    top: 52px;
    margin-left: 70px;
    margin-bottom: 205px;
    margin-right: 81px;
}

.chevs.chevs_forward {
    position: relative;
    top: -258px;
    left: -30px;
 }

 .services__text > h2 {
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    font-size: 30px;
    padding-top: 58px;
    margin-left: 40px;
 }

 .services__text > p {
    letter-spacing: normal;
    color: #767e9e;
    font-size: 18px;
    font-family: Lato;
    font-weight: 300;
    line-height: 30px;
    width: 939px;
    margin-top: 18px;
    margin-left: 41px;
    text-align: justify;
 }

 .services > div {
     margin: auto;
     max-width: 1020px;
     background-color: #f2f2f2;
     height: 496px;
 }

 h2 {
     margin: 0;
 }

 .services-grid {
    display: grid;
    grid-template-columns: repeat(3, 299px [col-start]);
    grid-template-rows: 86px 84px;
    column-gap: 60px;
    row-gap: 67px;
    margin-top: -3px;
}

.custom__design {
    margin-left: 41px;
    margin-top: 32px;
    display: flex;
}

.custom-design__text > h5 {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin-top: -2px;
    margin-left: -1px;
}

.custom-design__text > p {
    width: 219px;
    height: 128px;
    font-size: 12px;
    line-height: 21px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
    margin-top: 10px;
}

.custom-design__text {
    margin-left: 20px;
}

.pen, .lamp /* .star, .bubble, .screen */ {
    width: 110%;
    height: 110%;
}

.lamp, .heart {
    margin-top: 15px;
}

.innovative-ideas {
    display: flex;
}

.innovative-ideas__text > h5 {
    margin: 0;
}

.innovative-ideas__text > p {
    width: 219px;
    height: 128px;
    font-size: 12px;
    line-height: 21px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
    margin-top: 10px;
    letter-spacing: 0.1px;
}

.innovative-ideas__text {
    margin-top: 31px;
    margin-left: 20px;
}

h5 {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin: 0;
}

.love__text > p, .layout__text > p, .support__text > p, .star__text > p {
    width: 219px;
    height: 128px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;

}

.layout, .love, .support, .star {
    display: flex;
}

.love {
    margin-left: -38px;
    margin-top: 8px;
    width: 110%;
    height: 110%;
}

.heart {
    justify-self: start;
}

.layout {
    margin-left: 41px;
}

img.screen, img.bubble, img.star {
    margin-top: -17px;
}

.layout__text, .support__text, .love__text, .star__text {
    margin-left: 20px;
}

.layout__text > h5 {
    margin-top: 2px;
}

.layout__text > p {
    margin-top: 10px;
}

.bubble {
    margin-top: -10px;
}

.love__text {
    margin-top: 23px;
}

.star {
    margin-left: -19px;
}



/* singolo 2 css */

html {
    font-size: 10px;
}

body {
    margin: 0px;
    font-size: 1.8rem;
    font-family: "Lato", "Open Sans", sans-serif;
}

.wrapper {
    max-width: 1020px;
    margin: auto;
}

.portfolio__text>h1 {
    margin: 0px;
    padding-top: 60px;
    padding-left: 40px;
    font-weight: 900;
    color: #666d89;
    font-size: 3rem;
}

.portfolio__text>p {
    padding-left: 40px;
    font-weight: 300;
    line-height: 30px;
    color: #767e9e;
}

.portfolio>div {
    background-color: #2d303a;
}

.portfolio__text {
    margin-top: 60px;
    margin-left: 39px;
}

.porttfolio__buttons {
    display: flex;
    justify-content: space-evenly;
    flex-basis: content;
    margin-left: 31px;
    margin-top: -7px;
    width: 305px;
}

.about-us>div {
    background-color: #f2f2f2;
}

.bottom__line.portfolio {
    width: 1020px;
    height: 6px;
    background-color: #323746;
}

.bottom__line.about_us {
    width: 1020px;
    height: 6px;
    background-color: #ffffff;
}

section.about-us>div>h2 {
    margin: 0px;
    padding-left: 40px;
    padding-top: 60px;
    color: #666d89;
    font-weight: 900;
    font-size: 3rem;
}

section.portfolio>div>div.portfolio__text {
    margin: 0px;
}

.button_bordered {
    height: 22px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 10px;
    color: #767e9e;
    background-color: transparent;
    border: 1px solid #666d89;
    border-radius: 5px;
    cursor: pointer;
}

.button_selected {
   
    height: 22px;
    color: #dedede;
    border: 1px solid #c5c5c5;
}

.layout-4-column {
    margin-left: 40px;
    margin-top: 19px;
    margin-bottom: 47px;
}

.image {
    margin-right: 16px;
    margin-bottom: 16px;
}

.employee {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
}

section.about-us>div>p {
    width: 939px;
    padding-left: 40px;
    color: #767e9e;
    font-size: 1.8rem;
    line-height: 30px;
    font-weight: 300;
    word-spacing: 0.64px;
    text-align: justify;
}

.employee_content {
    width: 300px;
    padding-top: 29px;
}

.employee_content>h5 {
    margin-top: 13px;
    color: #666d89;
    font-size: 1.8rem;
    font-weight: 900;
}

.employee__text {
    margin-top: 12px;
    width: 301px;
    height: 32px;
    color: #767e9e;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 20px;
    text-align: justify;
    word-spacing: -0.5px;
}

.social__icons {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    width: 152px;
    margin-bottom: 67px;
    margin-left: -8px;
}

.icon {
    cursor: pointer;
}

.button:hover {
    text-decoration: underline;
}

/* singolo 3 css */


.wrapper {
    max-width: 1020px;
    margin: auto;
}

.form>div {
    background-color: #f06c64;
}

.form__text>h1 {
    margin: 0;
    margin-left: 40px;
    padding-top: 60forpx;
    font-family: "Lato";
    font-weight: 900;
    font-size: 3rem;
    color: #f0d8d9;
    padding-top: 60px;
}

.form__text>p {
    width: 939px;
    margin-left: 41px;
    margin-top: 16px;
    color: #f0d8d9;
    line-height: 30px;
    font-weight: 300;
    font-family: "Lato";
    text-align: justify;
}

.layout-2-column {
    display: flex;
    flex-direction: row;
}

.side__text>h5 {
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    font-size: 1.8rem;
}

.side__text>p {
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    line-height: 22px;
    font-size: 1.2rem;
    margin-top: 8px;
    width: 301px;
    text-align: justify;
    word-spacing: -0.5px;
}

.side__text {
    width: 301px;
    margin-left: 20px;
    margin-top: 25px;
}

input {
    background-color: #d6564f;
    width: 619px;
    height: 36px;
    border: none;
    border-radius: 6px;
    margin-left: 40px;
    margin-bottom: 16px;
}

textarea {
    width: 614px;
    height: 202px;
    background-color: #d6564f;
    border-radius: 6px;
    margin-left: 40px;
    border: none;
}

::placeholder {
    font-family: "Lato";
    font-size: 1.2rem;
    font-weight: 400;
    padding-left: 15px;
    color: #f48c8f;
}

form {
    margin-top: 25px;
    width: 659px;
}

textarea::placeholder {
    padding-top: 9px;
    padding-left: 13px;
}

h5 {
    margin: 0;
}

.contacts>p, .contacts>a {
    display: inline;
    color: #f0d8d9;
    font-family: Lato;
    font-weight: 400;
    font-size: 1.2rem;
    padding-left: 12px;
}

.contacts>a {
    text-decoration: none;
    color: #f0d8d9;
}

.contacts {
    margin-top: 22px;
}

img.icon.icon_place {
    padding-left: 4px;
}

img.icon.icon_phone {
    padding-left: 1px;
}

img.icon.icon_email {
    padding-top: 10px;
}

.bottom__line {
    height: 6px;
    background-color: #ea676b;
    margin-top: 32px;
}

.button.button_colored {
    border: none;
    border-radius: 4px;
    margin-left: 41px;
    font-family: "Lato";
    font-size: 1.2rem;
    padding: 4px;
    margin-top: 5px;
    background-color: #f0d8d9;
}

.footer>div {
    margin: auto;
    width: 1020px;
    height: 76px;
    background-color: #2d303a;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer {
    margin: 0;
}

.copyright>p {
    margin: 0;
    color: #666d89;
    font-family: Lato;
    font-size: 1.2rem;
    font-weight: 400;
    padding-left: 42px;
}

.social__links {
    margin-right: 30px;
    display: flex;
    width: 172px;
    justify-content: space-evenly;
    margin-top: 10px;
}

.icon {
    cursor: pointer;
}

input:invalid {
    border: 1px red;
}

input:valid {
    border: 1px green;
}

